:root,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

.map-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.map-canvas,
.leaflet-container {
  flex: 1;
  width: 100%;
  height: 100%;
}

